WorkflowStepFunction/Workflow.json
{
  "Comment": "A description of my state machine",
  "StartAt": "serializeImageData",
  "States": {
    "serializeImageData": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "OutputPath": "$.Payload",
      "Parameters": {
        "Payload.$": "$",
        "FunctionName": "arn:aws:lambda:us-east-1:990703956453:function:serializeImageData:$LATEST"
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 6,
          "BackoffRate": 2
        }
      ],
      "Next": "inferImageData"
    },
    "inferImageData": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "OutputPath": "$.Payload",
      "Parameters": {
        "FunctionName": "arn:aws:lambda:us-east-1:990703956453:function:inferImageData:$LATEST",
        "Payload": {
          "image_data.$": "$.body.image_data",
          "s3_bucket.$": "$.body.s3_bucket",
          "s3_key.$": "$.body.s3_key",
          "inferences.$": "$.body.inferences"
        }
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 6,
          "BackoffRate": 2
        }
      ],
      "Next": "filterFunction"
    },
    "filterFunction": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "OutputPath": "$.Payload",
      "Parameters": {
        "FunctionName": "arn:aws:lambda:us-east-1:990703956453:function:filterFunction:$LATEST",
        "Payload": {
          "image_data.$": "$.body.image_data",
          "s3_bucket.$": "$.body.s3_bucket",
          "s3_key.$": "$.body.s3_key",
          "inferences.$": "$.body.inferences"
        }
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 6,
          "BackoffRate": 2
        }
      ],
      "End": true
    }
  }
}